mixin videoToMixin(item)
  div
    h4
      //- a(href="/videos/" + item.id)=item.title
      a(href=`/videos/${item.id}`)=item.title
    ul
      li #{item.meta.rating}/5
      li #{item.comments} comments.
      li Posted #{item.createdAt}.
      li #{item.meta.views} views.