extends base.pug
include mixins/video

block content
  video(src="/" + video.fileUrl, controls)
  //-
    div 
      p=video.description
      small=video.createdAt 
    div 
      small Uploaded by 
        a(href=`/users/${video.owner._id}`)=video.owner.name
    div 
      ul
        each hashtag in video.hashtags
          li=hashtag
    if String(video.owner.id) === String(loggedInUser._id)
      br
      a(href=`${video.id}/edit`) Edit Video &rarr;
      br
      a(href=`${video.id}/delete`) Delete Video &rarr;

block scripts 
  script(src="/static/js/videoPlayer.js")